/* =============
    Section 2
============= */

#section-2 {
    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-2-xl .";
    }

    #section-2-xl {
        grid-area: section-2-xl;

        @include md {
            display: grid;
            grid-template-columns: 65% auto;
            grid-template-areas: "article aside";
        }

        @include lg {
            grid-template-columns: 50% auto;
            grid-template-areas: "aside article";
        }


        aside {
            background-image: url("../img/section-2/feet.jpg");
            background-size: cover;
            background-position: center;
            height: 320px;

            @include md {
                height: 255px;
                grid-area: aside;
            }

            @include lg {
                height: 600px;
            }

        }

        #section-2-container {
            display: grid;
            grid-template-areas: ". section-2 .";
            grid-template-columns: 15px auto 15px;
            background-color: $grey;
            text-align: justify;
            padding: 45px 0 100px;

            h1 {
                text-align: center;

                @include md {
                    text-align: left;
                }

                font-size: rem-calc(35);

                @include lg {
                    font-size: rem-calc(45);
                }
            }

            p {
                font-size: rem-calc(17);
                line-height: rem-calc(23);

                @include lg {
                    font-size: rem-calc(20);
                    line-height: rem-calc(29);
                }
            }

            @include md {
                grid-template-columns: 10% auto 10%;
                padding: 10px 0 1px;
                grid-area: article;
            }

            @include lg {
                padding: 75px;
            }

            #section-2-content {
                grid-area: section-2;


            }
        }
    }

}