/* =============
    Section 3
============= */

#section-3{
    display: grid;
    grid-template-areas: ". section-3 .";
    grid-template-columns: 15px auto 15px;

    #section-3-content{
        grid-area: section-3;

        img{
            width: 100%;
            height: 200px;
        }
    }
}