/* =============
    Footer
============= */
footer{
    background-color: $black;
    text-align: center;
    padding: 50px 80px;
    // position: relative;
    

    @include lg{
        height: 155px;
        text-align: right;
        // padding: 0px;
    }

    @include xl {
        display: grid;
        grid-template-areas: ". footer-content .";
        grid-template-columns: auto 1200px auto;
    }

    #footer-content{
        grid-area: footer-content;
        

        #social-icons{
            display: flex;
            justify-content: center;

            @include lg{
                justify-content: start;
            }
            li{
                margin: 0 9px;


                a:link, a:visited{
                    font-size: rem-calc(30);
                    color: $darkgray;
                    transition: 0.25s;
                }

                a:hover, a:active{
                    color: $darkblue;
                }
            }
        }

        #drexel{
            p{

            color: white;
            font-size: rem-calc(11);

            @include lg{
                // position: absolute;
                text-align: right;
                // justify-content: start;
                // vertical-align: middle;
                
                }
            
            }
        
            span{
                color: $orange;
            }

        }
    }

}


